<!doctype html>
<html lang="en">
  <head>
    <title>Tutor4U</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/189a0495e2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
   
  </head>
  
  <body>
    <!--title-->
    <section id="title">
      <div class="container-fluid">
        <!--Nav Bar-->
        <nav class="navbar navbar-expand-lg navbar-light">
          <!--brand-->
          <span class="navbar-brand mb-0 h1">Tutor4U</span>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navication">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <!--Nav bar-->
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Pricing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="">Download</a>
              </li>
            </ul>
           </div>
          </nav>

          <div class="row">
            <div class="col-lg-6 col-med-2" style="margin-top: 25px;">
              <h1>Tutoring 4 Students By Students</h1>
              <button type="button" class="btn btn-primary btn-lg">Sign up</button>
              <button type="button" class="btn btn-secondary btn-lg">Log in</button>
            </div>
            <div class="col-lg-6 col-med-2">
              <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="img-fluid" alt="Responsive image" style="margin-top: 15px;">
            </div>
          </div>
      </div>
    </section>

    <!--Features-->
    <section id="features">
      <div class="row">
        <div class="feature-box col-lg-4">
            <i class="far fa-clock fa-5x"></i>
          <h3>Find an Awesome Tutor</h3>
          <p>Tutor4U helps you find the best tutor
             to fit your busy schedule and academic needs.</p>
        </div>

        <div class="feature-box col-lg-4">
            <i class="fas fa-book fa-5x"></i>
          <h3>Fund Your Education</h3>
          <p>Don't need a tutor? Our platform helps you list your tutoring services.</p>
        </div>

        <div class="feature-box col-lg-4">
            <i class="fas fa-dollar-sign fa-5x"></i>
          <h3>Payments Made Fast & Easy</h3>
          <p>With the help of Braintree and PayPal Tutor4U
             makes reciving and making payments easier than ever.
          </p>
        </div>

      </div>
    </section>

    <!--Testimonies-->
    <section id="testimonials">
      <div id="test-carousel" class="carousel slide" data-ride="false">
        <div class="carousel-item active">
            <h2> Because of Tutor4U, I can finally pass my classes</h2>  
            <em>Chicago,IL</em>
        </div>
        <div class="carousel-item">
            <h2> Because of Tutor4U, I can finally pass my classes</h2>  
            <em>Chicago,IL</em>
        </div>
        
      </div>
      

    </section>
    <!--Footer-->

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>